@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    background-color: #8f91a2;
    color:#38393f;
    font-size: 30px;
    font-family: 'Nerko One', cursive;
    height: 100vh;
    display: flex;
}

.contenedor{
    border: 1px solid #000;
    width: 60%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);
background-color: #dadbe5;
}


span{
    display: block;
}

.verde{
    background-color: lightgreen;
}
.rojo{
    background-color: red;
}
